.container {
  margin-left: auto;
  margin-right: auto;

  min-width: 320px;

  // @media screen and (min-width: 375px) {
  //   width: 375px;
  // }
  @media screen and (max-width: 990px) {
    width: 100%;
  }

  @media screen and (min-width: 991px) and (max-width: 1439) {
    width: 100%;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}
